#main{
	margin-bottom:20px;
}

#msg{
	background:none;
	padding: 0.5em 0 0.3em 60px;
}

#msg:before{
	content:none;
}

.little_photo {max-width:20%}

p.expert {
    font: 2em NovecentowideBook;
}
.expert {
    color: #669900;
}
p.extra.expert {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 3px 3px 3px 3px;
    font-size: 1em;
    padding: 5px;
    position: absolute;
    text-align: right;
    width: 3em;
}
p.expert:before {
    content: "✪ ";
    line-height: 1;
}
p.extra.expert:before {
    font-size: 100%;
}

p.ratingleft {
    align: left;
    margin-top: 0em;
    text-align: rig;
    width: auto;
}

.blue-highlight {
	border:2px dashed blue;
	padding: 10px 10px 10px 10px;
}

.red-highlight {
	border:2px dashed red;
	padding: 10px 10px 10px 10px;
}

.red-blue-highlight {
	border: 2px dashed;
	border-bottom-color: red;
	border-left-color: blue;
	border-right-color: red;
	border-top-color: blue;
	
	padding: 10px 10px 10px 10px;
}

.grey-highlight {
	border:2px dashed grey;
	padding: 10px 10px 10px 10px;
}

.k-product-sheet img.photo {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 3px #333333;
    outline: 1px solid #CCCCCC;
    width: 60%;
}

/* [Genetify] Additional css to vary the img size */
.k-product-sheet img.photo.vLarge {
    width: 80%;
}

img {
    border: 0 none;
    width: 20%;
}

.expertise .description{
	font-size : 0.75em;
}

/* [Genetify] Additional css to change font size expert's comments */
.expertise .description.vFont{
	font-size : 1em;
}

/* [Genetify] Additional css to change button's color */
p.buy a.vBlue{
	background: blue;
}


